.Container{
    width: 600px;
    display: block;
    font-family: "Inter", sans-serif;
    margin-left: 10%;
}

.Container-LogoPokemon{
    width: 500px;
    display: flex;
    justify-content: center;
}

.LogoPokemon{
    width: 35%;
}

.SearchInput{
    width: 65%;
    height: 25px;
    padding-left: 10px;
}

.SearchButton{
    border-radius: 10px;
    border: solid;
    width: 65%;
    height: 35px;
    background-color: green;
    color: white;
    justify-content: center;
    margin-top: 10px;

}

.Results{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}